<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AirBnB Clone</title>
        <link rel="stylesheet" href="styles/4-common.css">
        <link rel="stylesheet" href="styles/3-footer.css">
        <link rel="stylesheet" href="styles/3-header.css">
        <link rel="stylesheet" href="styles/6-filters.css">
        <link rel="icon" href="images/icon-3-webstatic.png">
    </head>
    <body>
        <header>
            <div class ="logo"></div>
        </header>
        <div class="container">
            <section class="filters">
                <div class="locations">
                    <h3>States</h3>
                    <UL>
                        {% for state in states %}
                        <li><B>{{ state.name|e }}</B>
                            <UL>
                                {% for city in state.sorted_cities %}
                                <li><B>{{ city.name }}</B></li>
                                {% endfor %}
                            </UL>
                        </li>
                        {% endfor %}
                    </UL>
                </div>
                <div class="amenities">
                    <h3>Amenities</h3>
                    <ul class="popover">
                        <li>
                            <UL>
                                {% for item in amenities %}
                                <li><B>{{ item.name }}</B></li>
                                {% endfor %}
                            </UL>
                        </li>
                    </ul>
                </div>
                <button>Search</button>
            </section>
        </div>
        <footer>
            <p>
                Holberton School
            </p>
        </footer>
    </body>
</html>