<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AirBnB clone</title>

		<link rel="icon" href="images/icon-3-webstatic.png">
		<!-- <link rel="shortcut icon" href="images/icon.ico" > -->

		<link rel="stylesheet" href="styles/4-common.css"/>
		<link rel="stylesheet" href="styles/3-header.css"/>
		<link rel="stylesheet" href="styles/3-footer.css"/>
		<link rel="stylesheet" href="styles/6-filters.css"/>
		<link rel="stylesheet" href="styles/8-places.css"/>
	</head>
    <body>
		<header>
			<div class="logo"></div>
		</header>

		<!-- Container listing states-cities box and amentities box -->

		<div class="container">
			<section class="filters">
                <div class="locations">
                    <h3>States</h3>
                    <UL class="popover">
                        {% for state in states %}
                        <li><B>{{ state.name|e }}</B>
                            <UL>
                                {% for city in state.sorted_cities %}
                                <li><p>{{ city.name }}</p></li>
                                {% endfor %}
                            </UL>
                        </li>
                        {% endfor %}
                    </UL>
                </div>
                <div class="amenities">
                    <h3>Amenities</h3>
                    <ul class="popover">
                        <li>
                            <UL>
                                {% for item in amenities %}
                                <li><p>{{ item.name }}</p></li>
                                {% endfor %}
                            </UL>
                        </li>
                    </ul>
                </div>
                <button>Search</button>
			</section>


			<!-- Place flex boxes -->

			<section class="places">
				<h1>Places</h1>
				<div class="places-wrapper">

			<!-- 1st Place box -->

				<article>
					<div class="headline">
						<h2 style="width:250px; height:200px; white-space: initial;">{{ places[0].name }}</h2>
						<div class="price_by_night">${{ places[0].price_by_night }}</div>
					</div>
					<div class="information">
						<div class="max_guest">
							<div class="guest_icon"></div>
							<p>{{ places[0].max_guest }} Guests</p>
						</div>
						<div class="number_rooms">
							<div class="bed_icon"></div>
							<p>{{ places[0].number_rooms }} Bedroom</p>
						</div>
						 <div class="number_bathrooms">
							<div class="bath_icon"></div>
							<p>{{ places[0].number_bathrooms }} Bathroom</p>
						</div>
					</div>
					<div class="user"><b>Owner</b>: {{ places[0].username }}</div>
					<div class="description">
						{{ places[0].description|replace("<BR/>", "\n") }}
					</div>
				</article>

			<!-- 2nd Place box -->

			<article>
				<div class="headline">
					<h2 style="width:250px; height:200px; white-space: initial;">{{ places[0].name }}</h2>
					<div class="price_by_night">${{ places[1].price_by_night }}</div>
				</div>
				<div class="information">
					<div class="max_guest">
						<div class="guest_icon"></div>
						<p>{{ places[1].max_guest }} Guests</p>
					</div>
					<div class="number_rooms">
						<div class="bed_icon"></div>
						<p>{{ places[1].number_rooms }} Bedroom</p>
					</div>
					 <div class="number_bathrooms">
						<div class="bath_icon"></div>
						<p>{{ places[1].number_bathrooms }} Bathroom</p>
					</div>
				</div>
				<div class="user"><b>Owner</b>: {{ places[0].username }}</div>
				<div class="description">
					{{ places[1].description|replace("<BR/>", "\n") }}
				</div>
			</article>

			<!-- 3rd Place box -->

			<article>
				<div class="headline">
					<h2 style="width:250px; height:200px; white-space: initial;">{{ places[0].name }}</h2>
					<div class="price_by_night">${{ places[2].price_by_night }}</div>
				</div>
				<div class="information">
					<div class="max_guest">
						<div class="guest_icon"></div>
						<p>{{ places[2].max_guest }} Guests</p>
					</div>
					<div class="number_rooms">
						<div class="bed_icon"></div>
						<p>{{ places[2].number_rooms }} Bedroom</p>
					</div>
					 <div class="number_bathrooms">
						<div class="bath_icon"></div>
						<p>{{ places[2].number_bathrooms }} Bathroom</p>
					</div>
				</div>
				<div class="user"><b>Owner</b>: {{ places[0].username }}</div>
				<div class="description">
					{{ places[2].description|replace("<BR/>", "\n") }}
				</div>
			</article>
			</div>
			</section>
		</div>
		<footer>
			<p>Holberton School</p>
		</footer>
	</body>
</html>
